<ion-view>

    <div class="pq-div-header-main row">
        <div class="col-20">
            <img class="pq-header-logo" src="img/app_logo.png">
        </div>
        <div class="col-67" style="margin-top: 6px;">Pin Code</div>
        <div class="col-10 pq-div-header-back-btn" ng-click="goBack()">
            <i class="ion-ios-arrow-thin-left"></i>
        </div>
    </div>

    <ion-content>

        <ion-scroll>

            <div class="padding pq-div-main-content">
                <br>
                <h5>Delivery Address:</h5>
                <textarea class="pq-div-textarea-property" placeholder="Please enter your full address"></textarea>
            </div>

        </ion-scroll>

    </ion-content>
</ion-view>