<ion-view>

        <div class="pq-div-header-main row">
                <div class="col-20">
                        <img class="pq-header-logo" src="img/app_logo.png">
                </div>
                <div class="col-67" style="margin-top: 6px;">Notifications</div>
                <div class="col-10 pq-div-badge-container" ng-click="showCart()">
                        <i class="icon ion-ios-cart pq-badge-container">
                                <span class="badge badge-assertive pq-div-badge-style">2</span>
                        </i>
                </div>
        </div>

        <ion-content>

                <ion-scroll>

                        <div class="pq-div-main-content padding">
                                <div class="card">
                                        <div class="item item-text-wrap pq-item-style">
                                                Lorem Ipsum is simply dummy a text of the printing and typesetting industry.
                                        </div>
                                </div>
                        </div>
                </ion-scroll>
        </ion-content>

</ion-view>